<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @nutrition_fact.name %>
</p>

<%= link_to 'Edit', edit_nutrition_fact_path(@nutrition_fact) %> |
<%= link_to 'Back', nutrition_facts_path %>
