 <h1>Hi <%= @subscriber.full_name %></h1>
 <p>Your <b>21 days mindful eating for smart people program</b> is ready and available in the the link below.</p>
 <p>
   <%= link_to @download_url, @download_url %>
 </p>

 <p>
   Enjoy,<br />
   Amin Karaji
 </p>
