<% if @duplicated_from %>
  <p class='bg-warning'>New ingredient duplicated from <b><%= @duplicated_from %></b></span>
<% else %>
  <h1>New Ingredient</h1>
<% end %>

<%= render 'form' %>

<%= link_to 'Back', [:admin, ingredients_path] %>
