<p>
Hey there, thanks for signing up for <%= @campaign.name %> program.
</p>
<p>Please find attached for your program.</p>
<p><%= @campaign.description %></p>
<p>
Regards,<br /><%= @tenant.app_name %>
</p>
