<div style="font-family: verdana, tahoma">
<p>
Hey there! thanks for signing up for <%= @campaign.name.downcase %> program.
</p>
<p><%= sanitize @campaign.description %></p>

<p>The attached file is the program. You will be notified when a new version is available.</p>

<p>
Regards,<br /><%= link_to @tenant.app_name, "http://www.lifelixir.com.au" %>
</p>
</div>
