<p>
Hey there, Thanks for signing up in <%= @campaign.title %> program.
</p>
<p>Please find attached for your program.</p>
<p><%= @campaign.description %></p>
<p>
Regards,<br /><%= @tenant.app_name %>
</p>
