<div style="font-family: verdana, tahoma">
<p>
Hey there! thanks for subscribing to <%= @campaign.name.downcase %> program.
</p>

<p>We are working hard to prepare a good content for this subject. Stay tuned we will come back to you soon.</p>

<p>
Regards,<br /><%= link_to @tenant.app_name, "http://www.lifelixir.com.au" %>
</p>
</div>
