<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 text-center">
      <div class="card">
      <div class="card-body">
        <h4 class="card-title">Affiliate code</h4>
        <p class="card-text">Create and share your code with your tribe.</p>
        <a href="#" class="btn btn-primary btn-sm">Create a code</a>
      </div>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <div class="card">
      <div class="card-body">
      <h4 class="card-title">Orders</h4>
      <p class="card-text">Create a venue to see your orders.</p>
      <a href="#" class="btn btn-primary btn-sm">Create a venue</a>
    </div>
  </div>
</div>
