<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 text-center mx-3">
      <h3>Your revenue</h3>
      <p>You can encourage your tribe to buy healthy foods with your affiliate code and you can monitor your revenue here.</p>
      <a href="#" class="btn btn-primary">Create affiliate code</a>
    </div>
    <div class="col-md-6 text-center mx-3">
      <h3>Your venue</h3>
      <p>Create a venue.</p>
      <a href="#" class="btn btn-primary">Create a venue</a>
    </div>
  </div>
</div>
