<div style="font-family: verdana, sans-serif">
  <p>Hi <%= @cart.customer.fullname%>,</p>
  <p>Thanks for your purchase.</p>
  <p>Please find attached confirmation for your purchase.</p>
  <%= render template: "admin/carts/invoice.html.erb", locals: {cart: @cart, address: @cart.customer.addresses.first}, layout: false %>
  <p>
  Regards,<br />Life Elixir
  </p>
</div>
