<!DOCTYPE html>
<html>
<head>
  <title>NutriCombo | Frequent X</title>
  <meta name="description" content="NutriCombo frequent X can find their healthy tea and smoothies near them with great deals and discounts.">
  <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/114779/Socicon/style.css?u8vidh">
  <%= stylesheet_link_tag    'user', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'user', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
